.sources {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 35vw;
    height: 80vh;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.sources::-webkit-scrollbar {
    width: 1em;
}

.sources::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #fff;
}

.sources::-webkit-scrollbar-thumb {
    background-color:#30c5ff;
    border-radius: 5px;
    border: 2px solid  #fff;
}

.source__item {
    width: 90%;
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media (max-width: 1279px) {
    .source__item {
        padding: 1em 1em;
    }
  }

@media (max-width: 785px) {
    .sources {
        flex-direction: row;
        width: auto;
        height: auto;
        margin: 0 0.5em 0.5em;
    }

    .sources::-webkit-scrollbar {
        height: 0.7em;
    }

    .source__item {
        width: 100%;
        margin: 0.5em 1em 0.5em 0;
        padding: 0.5em 1em;
    }
}